@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

body{
  background-color: #EBF0FF;
  font-family: "Red Hat Display";
}
svg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.container {
  display: inline-block;
  position: relative;
  width: 50%;
  overflow: hidden;
}
.card{
  width: 30%;
  align-content: center;
  margin: 100px 600px;
  border-radius: 25px 25px;
}
.card img{
  border-radius: 25px 25px 0px 0px;
}
.container h3{
  margin: 40px 8px 20px 0;
  font-family: "Red Hat Display";
  font-weight: 900;
  font-size: 30px;
  text-shadow: 0px 1px, 1px 0px, 1px 1px;
  letter-spacing:1px;
}
.para p{
  vertical-align: middle;
  position: relative;
  margin: 0 63px 20px;
  font-family: "Red Hat Display";
  font-weight: 900;
  font-size: 20px;
  text-align: center;
  opacity: 50%;
}
.plan{
  margin: 30px 70px;
  padding: 25px 25px 0 25px;
  border-radius: 15px;
  background-color: #F5F7FF;
}
.bgplan{
  display: inline-flex;
  padding: 5px;
}
.bgplan p{
  margin-left: 20px;
  font-family: "Red Hat Display";
  font-weight: 500;
  font-size: 18px;
  text-shadow: 0px 1px, 1px 0px, 1px 1px;
  letter-spacing:1px;
  text-align: center;
}
.plan a{
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0;
  float: right;
  top:25px;
  font-family: "Red Hat Display";
  font-weight: 900;
  font-size: 15px;
  letter-spacing:1px;
  color: #3829E0;
  text-align: right;
}
.plan a:hover{
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0;
  float: right;
  top:25px;
  font-family: "Red Hat Display";
  font-weight: 900;
  font-size: 15px;
  letter-spacing:1px;
  color: #3829E0;
  text-align: right;
  opacity: 75%;
  text-decoration: none;
  cursor: pointer;
}
.price{
  position: relative;
  float: bottom;
  top: -35px;
  left: 80px;
  font-family: "Red Hat Display";
  font-size: 17px;
  font-weight: 900;
  opacity: 50%;
  padding-bottom: 0;
  margin-bottom: 0;
}
.payment{
  margin: 10px 80px;
}
.payment p{
  background-color: #3829E0;
  color: white;
  font-size: 18px;
  font-weight: 500;
  text-shadow: 0px 1px, 1px 0px, 1px 1px;
  letter-spacing:1px;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 40px 18px rgba(56,41,224,0.1);
}
.payment p:hover{
  background-color: #3829E0;
  color: white;
  font-size: 18px;
  font-weight: 500;
  text-shadow: 0px 1px, 1px 0px, 1px 1px;
  letter-spacing:1px;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 40px 18px rgba(56,41,224,0.1);
  opacity: 75%;
  cursor: pointer;
}
.cancel{
  margin: 0px 80px;
}
.cancel p{
  color: black;
  font-size: 18px;
  font-weight: 500;
  text-shadow: 0px 1px, 1px 0px, 1px 1px;
  letter-spacing:1px;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  opacity: 50%;
  margin-bottom: 50px;
}
.cancel p:hover{
  color: black;
  font-size: 18px;
  font-weight: 500;
  text-shadow: 0px 1px, 1px 0px, 1px 1px;
  letter-spacing:1px;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  opacity: 100%;
  margin-bottom: 50px;
  cursor: pointer;
}